/*ฤฺศาณ*/
.content{background:#fff;height:455px;overflow:scroll;overflow-x:hidden;}
.content h2{padding:9px 0 0 10px;line-height:30px;}
.content p{text-indent:2em;line-height:22px;padding:0 0 0 16px;}

