
.con_tent .menu ul li{ float:left; width: 3%; margin: 7% 16% 4% 14%;}
.con_tent .menu ul li a.img1 { width:57px; height:20px; display:block; background:url(../../images/320x480/xw.png) 0px 0px no-repeat; padding-top:67px; color:#000000; text-align:center;}
.con_tent .menu ul li a.img1:hover {  background:url(../../images/320x480/xw_hov.png) 0px 0px no-repeat; text-align:center;}
.con_tent .menu ul li a.img1:active {  background:url(../../images/320x480/xw_hov.png) 0px 0px no-repeat; text-align:center;}

.con_tent .menu ul li a.img2 { width:57px; height:20px; display:block; background:url(../../images/320x480/js.png) 0px 0px no-repeat; padding-top:67px; color:#000000; text-align:center;}
.con_tent .menu ul li a.img2:hover {  background:url(../../images/320x480/js_hov.png) 0px 0px no-repeat; text-align:center;}
.con_tent .menu ul li a.img2:active {  background:url(../../images/320x480/js_hov.png) 0px 0px no-repeat; text-align:center;}

.con_tent .menu ul li a.img3 { width:57px; height:20px; display:block; background:url(../../images/320x480/cj.png) 0px 0px no-repeat; padding-top:67px; color:#000000; text-align:center;}
.con_tent .menu ul li a.img3:hover {  background:url(../../images/320x480/cj_hov.png) 0px 0px no-repeat; text-align:center;}
.con_tent .menu ul li a.img3:active {  background:url(../../images/320x480/cj_hov.png) 0px 0px no-repeat; text-align:center;}

.con_tent .menu ul li a.img4 { width:57px; height:20px; display:block; background:url(../../images/320x480/gp.png) 0px 0px no-repeat; padding-top:67px; color:#000000; text-align:center;}
.con_tent .menu ul li a.img4:hover {  background:url(../../images/320x480/gp_hov.png) 0px 0px no-repeat; text-align:center;}
.con_tent .menu ul li a.img4:active {  background:url(../../images/320x480/gp_hov.png) 0px 0px no-repeat; text-align:center;}

.con_tent .menu ul li a.img5 { width:57px; height:20px; display:block; background:url(../../images/320x480/ty.png) 0px 0px no-repeat; padding-top:67px; color:#000000; text-align:center;}
.con_tent .menu ul li a.img5:hover {  background:url(../../images/320x480/ty_hov.png) 0px 0px no-repeat; text-align:center;}
.con_tent .menu ul li a.img5:active {  background:url(../../images/320x480/ty_hov.png) 0px 0px no-repeat; text-align:center;}

.con_tent .menu ul li a.img6 { width:57px; height:20px; display:block; background:url(../../images/320x480/yl.png) 0px 0px no-repeat; padding-top:67px; color:#000000; text-align:center;}
.con_tent .menu ul li a.img6:hover {  background:url(../../images/320x480/yl_hov.png) 0px 0px no-repeat; text-align:center;}
.con_tent .menu ul li a.img6:active {  background:url(../../images/320x480/yl_hov.png) 0px 0px no-repeat; text-align:center;}

.con_tent .menu ul li a.img7 { width:57px; height:20px; display:block; background:url(../../images/320x480/ds.png) 0px 0px no-repeat; padding-top:67px; color:#000000; text-align:center;}
.con_tent .menu ul li a.img7:hover {  background:url(../../images/320x480/ds_hov.png) 0px 0px no-repeat; text-align:center;}
.con_tent .menu ul li a.img7:active {  background:url(../../images/320x480/ds_hov.png) 0px 0px no-repeat; text-align:center;}

.con_tent .menu ul li a.img8 { width:57px; height:20px; display:block; background:url(../../images/320x480/sh.png) 0px 0px no-repeat; padding-top:67px; color:#000000; text-align:center;}
.con_tent .menu ul li a.img8:hover {  background:url(../../images/320x480/ss_hov.png) 0px 0px no-repeat; text-align:center;}
.con_tent .menu ul li a.img8:active {  background:url(../../images/320x480/ss_hov.png) 0px 0px no-repeat; text-align:center;}

.con_tent .menu ul li a.img9 { width:57px; height:20px; display:block; background:url(../../images/320x480/gd.png) 0px 0px no-repeat; padding-top:67px; color:#000000; text-align:center;}
.con_tent .menu ul li a.img9:hover {  background:url(../../images/320x480/gd_hov.png) 0px 0px no-repeat; text-align:center;}
.con_tent .menu ul li a.img9:active {  background:url(../../images/320x480/gd_hov.png) 0px 0px no-repeat; text-align:center;}

