<?xml version="1.0" encoding="utf-8" ?>
<widget widgetId="" appId="10003223" version="01.00.0000" viewmode="" >
<name>SketchUpBBS_Andorid2.2</name>
<description>Google SketchUp中文官方设计论坛—引领三维可视化设计新航向！专业探究BIM（Building Information Modeling）SketchUp建筑信息模型实践运用。</description>
<author email="briskvoice@qq.com">箫风 </author>
<icon src="icon.png"/>
<license href=""></license>
<content src="index.html" encoding="utf-8" ></content>
<update href="" period="1"/>
<access network="true" localfs="true" remote_scripts="false"/>
</widget>
