body, p, div, ul, ol, li, dl, dt, dd, span, var, em, a, img, strong, table, td, tr, h2, h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 微 软 雅 黑;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

a img {
    border: none;
}

ul, ol {
    list-style-type: none;
}

.clear {
    overflow: hidden;
    height: 0;
    clear: both;
}

a {
    text-decoration: none;
}

var, em {
    font-style: normal;
    font-weight: noraml;
}

/* 外框*/
.storage {
    width: 100%;
    position: relative;
    height: 100%;
}

.wrap {
    width: 320px;
    height: 480px;
    background: #d9eafc;
    position: relative;
}

/* 头部 */
.top2 {
    background: url(images/320x480/reg_p1_03.png) 0 0 repeat-x;
    height: 25px;
    width: 310px;
    padding: 0 0 0 10px;
    color: #fff;
    line-height: 25px;
}

.top1 {
    background: url(images/320x480/reg_p1_03.png) 0 0 repeat-x;
    height: 25px;
    width: 310px;
    padding: 0 0 0 10px;
    color: #fff;
    line-height: 25px;
    text-align: center;
}

.top_header {
    width: 100%;
    height: 51px;
    background: url(images/320x480/header.png) 0px 0px repeat-x;
    line-height: 51px;
    text-align: center;
    color: #000000;
}

.con_tent {
    width: 100%;
    height: 100%;
    background: url(images/320x480/bg.png);
}

.ttop {
    background: url(images/320x480/top_bg.png) repeat-x;
    height: 50px;
    width: 320px;
    position: relative;
    line-height: 50px;
}

.ttop a {
    background: url(../../images/320x480/bt_bgt.png) no-repeat;
    width: 49px;
    height: 32px;
    position: absolute;
    left: 15px;
    top: 10px;
    line-height: 32px;
    text-align: center;
    color: #fff;
}

.ttop a:hover, .ttop a:active {
    background: url(../../images/320x480/bt_bgthov.png) no-repeat;
    color: #000;
}

.ttop strong {
    font-size: 20px;
    text-align: center;
    display: block;
    height: 50px;
    line-height: 50px;
}

/* 按钮和 input */
.reg_cont {
    background: #fff;
    height: 455px;
    width: 320px;
}

.reg_t {
    padding: 22px 0 15px 28px;
    border-bottom: 1px #000 solid;
}

.reg_t p {
    line-height: 33px;
    height: 33px;
}

.reg_t p.reg_sp {
    position: relative;
}

.reg_t p.reg_sp span {
    background: url(images/320x480/input1_03.png) 0 -33px no-repeat;
    height: 29px;
    width: 260px;
    display: block;
    position: absolute;
    margin: 2px 0 0 2px;
}

.reg_t p.reg_sp span.focus {
    background: url(images/320x480/input1_03.png) 0 0 no-repeat;
    height: 33px;
    width: 264px;
    display: block;
    position: absolute;
    margin: 0;
    display: none;
}

.reg_t p.reg_sp1 {
    position: relative;
}

.reg_t p.reg_sp1 span {
    background: url(images/320x480/input1_03.png) 0 -33px no-repeat;
    height: 29px;
    width: 260px;
    display: block;
    position: absolute;
    margin: 2px 0 0 2px;
}

.reg_t p.reg_sp1 span input, .reg_t p.reg_sp span input {
    margin: 3px 0 0 3px;
    height: 16px;
    width: 250px;
    border: none;
    background: #f7f7f7;
    position: absolute;
    left: 2px;
    top: 2px;
}

.reg_t p.reg_sp1 span.focus {
    background: url(images/320x480/input1_03.png) 0 0 no-repeat;
    height: 33px;
    width: 264px;
    display: block;
    position: absolute;
    margin: 0;
    display: none;
}

.reg_f {
    padding: 12px 0 0 28px;
}

.register {
    background: url(images/320x480/button1_03.png) 0 -43px no-repeat;
    width: 135px;
    height: 43px;
    display: block;
    text-align: center;
    line-height: 43px;
    color: #000;
}

.register:hover {
    background: url(images/320x480/button1_03.png) 0 0 no-repeat;
}

.register:active {
    background: url(images/320x480/button1_03.png) 0 0 no-repeat;
}

.reg_t .register, .reg_f .register {
    margin: 17px 0 0 65px;
}
.ui-btn-text{
    font-size: 12px;
}