.ui-grid-b div {
    text-align: center;
}

.ui-grid-b div a.img1 {
    display: block;
    color: #000000;
    text-align: center;

}

.ui-grid-b div  a img {
    width: 30%;
    height: 100%;
    color: #000000;
    margin-left: 35%;
    display: block;
}

.ui-grid-b div a.img1:hover {
    /*background: #000000;*/
    text-align: center;
}

.ui-grid-b div a.img1:active {
    text-align: center;
}

.ui-grid-b div a.img2 {
    display: block;
    color: #000000;
    text-align: center;
}

.ui-grid-b div a.img2:hover {
    /*background: url(images/320x480/js_hov.png) 0px 0px no-repeat;*/
    text-align: center;
}

.ui-grid-b div a.img2:active {
    /*background: url(images/320x480/js_hov.png) 0px 0px no-repeat;*/
    text-align: center;
}

.ui-grid-b div a.img3 {
    display: block;
    color: #000000;
    text-align: center;
}

.ui-grid-b div a.img3:hover {
    /*background: url(images/320x480/cj_hov.png) 0px 0px no-repeat;*/
    text-align: center;
}

.ui-grid-b div a.img3:active {
    /*background: url(images/320x480/cj_hov.png) 0px 0px no-repeat;*/
    text-align: center;
}

.ui-grid-b div a.img4 {
    display: block;
    color: #000000;
    text-align: center;
}

.ui-grid-b div a.img4:hover {
    /*background: url(images/320x480/gp_hov.png) 0px 0px no-repeat;*/
    text-align: center;
}

.ui-grid-b div a.img4:active {
    /*background: url(images/320x480/gp_hov.png) 0px 0px no-repeat;*/
    text-align: center;
}

.ui-grid-b div a.img5 {
    display: block;
    color: #000000;
    text-align: center;
}

.ui-grid-b div a.img5:hover {
    /*background: url(images/320x480/ty_hov.png) 0px 0px no-repeat;*/
    text-align: center;
}

.ui-grid-b div a.img5:active {
    /*background: url(images/320x480/ty_hov.png) 0px 0px no-repeat;*/
    text-align: center;
}

.ui-grid-b div a.img6 {
    display: block;
    color: #000000;
    text-align: center;
}

.ui-grid-b div a.img6:hover {
    /*background: url(images/320x480/yl_hov.png) 0px 0px no-repeat;*/
    text-align: center;
}

.ui-grid-b div a.img6:active {
    /*background: url(images/320x480/yl_hov.png) 0px 0px no-repeat;*/
    text-align: center;
}

.ui-grid-b div a.img7 {
    display: block;
    color: #000000;
    text-align: center;
}

.ui-grid-b div a.img7:hover {
    /*background: url(images/320x480/ds_hov.png) 0px 0px no-repeat;*/
    text-align: center;
}

.ui-grid-b div a.img7:active {
    /*background: url(images/320x480/ds_hov.png) 0px 0px no-repeat;*/
    text-align: center;
}

.ui-grid-b div a.img8 {
    display: block;
    color: #000000;
    text-align: center;
}

.ui-grid-b div a.img8:hover {
    /*background: url(images/320x480/ss_hov.png) 0px 0px no-repeat;*/
    text-align: center;
}

.ui-grid-b div a.img8:active {
    /*background: url(images/320x480/ss_hov.png) 0px 0px no-repeat;*/
    text-align: center;
}

.ui-grid-b div a.img9 {
    display: block;
    color: #000000;
    text-align: center;
}

.ui-grid-b div a.img9:hover {
    text-align: center;
}

.ui-grid-b div a.img9:active {
    text-align: center;
}

