
.enterprise {
    position: relative;
    padding-bottom: 10px;
    width: 100%;
}

.enterprise .content {

    position: absolute;
    width: 100%;
    top: 40%;
    background-color: #ffffff;
    height: 60%;
}

.enterprise .content .description {
    border-top: 1px solid #000000;
    text-align: right;
}

.enterprise .content .products_list {
    border-top: 1px solid #000000;
}

.show {

}

.show .content{
    border-top:1px solid #000000;
    padding-top: 5%;
    margin-top: 4%;
}