
.enterprise {
    /*position: relative;*/
    /*padding-bottom: 10px;*/
    width: 100%;
    /*height: auto;*/
}

.enterprise .content {

    position: absolute;
    width: 94%;
    margin-top: -10%;
    background-color: #ffffff;
    height: auto;
}

.enterprise .content .description {
    border-top: 1px solid #000000;
    text-align: right;
}

.enterprise .content .products_list {
    border-top: 1px solid #000000;
}

.show {

}

.show .content{
    border-top:1px solid #000000;
    padding-top: 5%;
    margin-top: 4%;
    width: 99%;
    padding-left:0.5%;
    text-align: center;
}
.logo{
    width: 22%;
    -webkit-border-radius: 55%;
}
.form_style{
    width: 80%;
    margin-left: 11%;
    margin-top: 2%;
}
.enterprise_show{
}
.enterprise{
    width: 94%;
    padding-left: 2.5%;

}